{% extends "layout.jinja2" %}
{% block body %}

    <form>
        Title:<br>
        <input type="text" name="title"><br>
        Journal:<br>
        <textarea rows="25" cols="100" name="journal" id = "journal">
            Enter Submission
        </textarea>
        <br>
        <input type="submit" value="Submit">
        </form>


<script type="text/javascript">
(function () {
    var date = new Date().toISOString().substring(0, 10),
        field = document.querySelector('#date');
    field.value = date;
    console.log(field.value);

})()
</script>

{% endblock %}